body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  margin: 10px auto;
  width: 400px;
  background-color: bisque;
  border-radius: 8px;
  padding: 20px 80px;
}
h1 {
  text-align: center;
}
label {
  display: block;
  margin-bottom: 8px;
}
.interests {
  display: inline;
}
#name,
#email,
#password,
#job {
  border: none;
  background-color: rgb(230, 225, 225);
  color: rgb(69, 100, 100);
  width: 100%;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 14px;
}
button {
  width: 100%;
  padding: 20px 80px;
  border-color: rgb(8, 73, 8);
  background-color: rgb(149, 217, 47);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 12px;
}
button:hover {
  background-color: rgb(63, 234, 117);
}
#login {
  text-align: center;
  margin-top: 10px;
}
a {
  font-weight: 700;
  text-decoration: none;
  color: rgb(8, 223, 37);
  margin-left: 5px;
}
