/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  background-color: rgb(94 234 212);
}
form {
  width: 400px;
  background-color: #d9e3d9;
  margin: 1.5rem auto;
  padding: 20px 80px;
  border-radius: 8px;
}
h1 {
  text-align: center;
  margin-bottom: 5px;
}
label {
  display: block;
  margin-bottom: 3px;
}
.interests {
  display: inline;
}
#name,
#email,
#password,
#job {
  border: none;
  background-color: rgb(203 213 225);
  color: #636b63;
  font-size: 16px;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

button {
  width: 100%;
  padding: 10px 40px;
  background-color: #00c42a;
  border: #019822;
  font-size: 18px;
  color: white;
  border-radius: 6px;
  margin-top: 18px;
}
button:hover {
  background-color: #1cc942;
}
#login {
  text-align: center;
  margin-top: 8px;
}
a {
  text-decoration: none;
  color: #00c42a;
  font-weight: 700;
  margin-left: 5px;
}
